@import './../../App.scss';

.btn-primary {
  margin: 0px 3px;
}

.introContent2 {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 10px;
  width: 35%;
  margin-left: 20px;
}

.fullscreenDiv {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  padding: 10px;
  border-radius: 10px;
  width: 35%;
  position: absolute;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: bold;
}

.myIntroduction {
  position: absolute;
  bottom: 50px;
  left: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 10px;
}

th {
  background-color: $primaryColorLight !important;
  font-size: 20px;
  color: #333333;
}

@media screen and (max-width: 600px) {
  .header2 {
    display: none !important;
  }
}

.moveToTopButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

.moveToTopButton:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
