.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  background: #ffffff;
  margin-top: 50px;
  margin-bottom: 50px;
  margin: 50px auto;
}

.register-container form {
  display: flex;
  flex-direction: row;
  background: #ffdfdf;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.form-section-RestaurantImage {
  display: block;
  margin: auto;
  width: 15%;
}

.form-section {
  padding: 20px;
  flex: 1;
}

.form-section h2 {
  margin-bottom: 20px;
}

.form-section input[type='text'],
.form-section input[type='email'],
.form-section input[type='password'],
.form-section input[type='tel'] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #000000;  
  border-radius: 10px;
}

.form-section-Button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background: #cc3333;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.form-section-Button:hover {
  background: #902424;
}

.social-login button {
  background: #cc3333;
  border: none;
  margin: 10px 0;
  cursor: pointer;
}

.social-login button:hover {
  text-decoration: underline;
  background: #902424;
}

.login-link {
  font-weight: bold;
  color: #cc3333;
}

//----------------------
.contact {
  background: #cc3333;
  color: white;
  border-radius: 10px;
  margin-left: 20px;
}

.contact h2 {
  color: white;
}

.contact input {
  background: #ffa2a2;
  color: rgb(0, 0, 0);
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ffffff;
  border-radius: 10px;
}

.contact input::placeholder {
  color: #000000;
}

.mark-location{
  border-radius: 50px;
  background: #ff7c7c;
  border: 1px solid #ffffff;
  color: white;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
}

.mark-location:hover {
  background: #e60e0b;
}

.confirm {
  background: #000000;
  color: white;
  border-radius: 50px;
  border: 1px solid #ffffff;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
}

.confirm:hover {
  background: #333;
}

.contact-image {
  display: block;
  margin: auto;
  width: 75%;
  max-width: 100%;
  transition: opacity 0.3s ease-in-out;
}

.contact-section.show .contact-image {
  opacity: 0.5;
}
