@import './../../App.scss';

.logoSection img {
  height: 80%;
  max-height: 50px;
  max-width: 50px;
  aspect-ratio: 1/1;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdownContent {
  display: none;
  position: absolute;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0;
  min-width: 160px;
  border: 1px solid $primaryColorLight;
  box-shadow:
    0px 8px 16px 0px rgba(0, 0, 0, 0.2),
    /* Original shadow */ 0px 12px 24px 0px rgba(0, 0, 0, 0.1),
    /* Additional layer for depth */ 0px 16px 32px 0px rgba(0, 0, 0, 0.05); /* Another layer for realism */
  border-radius: 3px;
  z-index: 1;
  div {
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      padding: 12px 16px;
    }
    a:hover {
      background-color: $primaryColorLight;
    }
  }
}

.landingList {
  li {
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    a {
      text-decoration: none;
      font-weight: bold;
      font-size: 1rem;
      padding: 20px;
    }
  }
  li:hover {
    background-color: $primaryColorLight;
    cursor: pointer;
  }
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 992px) {
  .loginSection {
    width: 100%;
    .login {
      a {
        height: 40px;
        width: 40px;
        background-color: $primaryColorDark;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: $primaryColorLight;
      }
      a:hover {
        background-color: $secondaryColor3;
      }
    }
  }

  .landingList {
    li {
      a {
        padding: 8px;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .navbarLandingPage {
    height: 60px;
  }

  .landingCollapseSection {
    width: 60%;
  }

  

  .loginSection {
    width: 30% !important;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .login {
      width: 20%;
      height: 100%;
      display: flex;
      align-items: center;
      a {
        text-decoration: none;
        font-weight: bold;
        font-size: 0.8rem;
        height: 50px;
        width: 50px;
        background-color: $primaryColorDark;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        border-right: 1px solid white;
      }
      a:hover {
        background-color: $secondaryColor3;
      }
      a:last-of-type {
        border-right: none;
      }
    }
  }
}
